body {
  font-family: Arial, sans-serif;
  background: #f4f6f8;
  padding: 20px;
}

h1 {
  text-align: center;
}

.container {
  max-width: 500px;
  margin: auto;
}

select, button {
  width: 100%;
  padding: 12px;
  font-size: 16px;
}

.question {
  background: #fff;
  padding: 15px;
  margin-top: 15px;
  border-radius: 8px;
}

.correct {
  color: green;
  font-weight: bold;
}

.wrong {
  color: red;
  font-weight: bold;
}

#timer {
  margin-top: 10px;
  font-weight: bold;
}
